.flex, header .header-right, header .navbar, header {
  display: flex;
  align-items: center;
}

.transition, #educations .educations-content .row .row-image img, header .header-right a, header .navbar a {
  transition: all 1.5s ease;
}

header {
  background: rgba(255, 255, 255, 0.24);
  border-radius: 0 0 16px 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.3px);
  -webkit-backdrop-filter: blur(10.3px);
  border: 1px solid rgba(255, 255, 255, 0.07);
  justify-content: space-between;
  padding: 27px 17px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
header .logo {
  font-size: 33px;
  color: #ffffff;
  font-weight: 700;
}
header .logo span {
  color: #ffa343;
}
header .navbar a {
  font-size: 1rem;
  font-weight: 500;
  margin: 15px 22px;
  text-transform: uppercase;
  padding: 10px;
  display: block;
}
header .navbar a:hover {
  color: #ffa343;
  scale: 1.2;
}
header .header-right a {
  font-size: 20px;
  margin-right: 18px;
  margin-left: 5px;
}
header .header-right a:hover {
  color: #ffa343;
  transform: translateY(-3px);
}
header .header-right a:first-child {
  font-size: 1rem;
  margin-right: 20px;
}
header .header-right #menu-btn {
  display: none;
}

@media (max-width: 1300px) {
  #menu-btn {
    display: block !important;
  }
  .navbar.open {
    display: flex;
    top: 120%;
  }
  .navbar {
    position: fixed;
    right: 10px;
    top: -900%;
    display: none;
    flex-direction: column;
    gap: 10px;
    padding: 20px 0;
    background: rgba(255, 255, 255, 0.24);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.3px);
    -webkit-backdrop-filter: blur(10.3px);
    border: 1px solid rgba(255, 255, 255, 0.07);
  }
}
@media (max-width: 800px) {
  .header-right a {
    display: none;
  }
  #menu-btn {
    display: block;
  }
}
.flex, header, header .navbar, header .header-right {
  display: flex;
  align-items: center;
}

.transition, #educations .educations-content .row .row-image img, header .navbar a, header .header-right a {
  transition: all 1.5s ease;
}

#home {
  position: relative;
  background: linear-gradient(to left, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("./images/group.jpeg");
  height: 100vh;
  background-size: cover;
  background-position: bottom center;
}
#home .home-text {
  margin-top: 200px;
}
#home .home-text h5 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 6px;
  color: #ffa343;
}
#home .home-text h1 {
  font-size: 80px;
  font-weight: 800;
  line-height: 1.2;
  margin-bottom: 29px;
  line-height: 1.8;
}
#home .home-text p {
  font-size: 1rem;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.6705882353);
  margin-bottom: 35px;
}

@media (max-width: 1300px) {
  .home-text {
    margin-top: unset;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .home-text h5 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 6px;
    color: #ffa343;
  }
  .home-text h1 {
    font-size: 60px !important;
    font-weight: 800;
    line-height: 1.2;
    margin-bottom: 10x;
  }
  .home-text p {
    font-size: 1rem;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.6705882353);
    margin-bottom: 20px;
  }
}
@media (max-width: 800px) {
  .home-text {
    font-size: 60px !important;
  }
}
.flex, header, header .navbar, header .header-right {
  display: flex;
  align-items: center;
}

.transition, #educations .educations-content .row .row-image img, header .navbar a, header .header-right a {
  transition: all 1.5s ease;
}

.flex, header, header .navbar, header .header-right {
  display: flex;
  align-items: center;
}

.transition, #educations .educations-content .row .row-image img, header .navbar a, header .header-right a {
  transition: all 1.5s ease;
}

#educations .educations-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, auto));
  align-items: center;
  text-align: center;
  gap: 3rem;
}
#educations .educations-content .row .row-image {
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  border-radius: 50%;
  margin-bottom: 20px;
}
#educations .educations-content .row .row-image img {
  width: 100%;
  display: block;
}
#educations .educations-content .row .row-image img:hover {
  transform: scale(1.2);
}
#educations .educations-content .row .h4 {
  font-size: 17px;
  font-weight: bold;
  cursor: pointer;
}
#educations .educations-content .row .h4:hover {
  color: #ffa343;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  list-style: none;
  border: none;
  outline: none;
}

a {
  color: #ffffff;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #000000;
  color: #ffffff;
}

section {
  padding: 70px 17% 60px;
}

.btn {
  padding: 13px 40px;
  display: inline-block;
  background-color: #ffa343;
  color: #000000;
  font-size: 15px;
  font-weight: 600;
  border: 2px solid transparent;
  border-radius: 5px;
}
.btn:hover {
  border: 2px solid white;
  background-color: transparent;
  color: #ffffff;
  transform: translateY(10px);
}/*# sourceMappingURL=style.css.map */